{
  "presets": [
    "@babel/preset-react",
    [ "@babel/preset-env", {
      "targets": {
        "browsers": "> 2%"
      }
    }],
    ["@babel/preset-stage-0", {
      "decoratorsLegacy": true
    }]
  ]
}
